@model Swampnet.Evl.Web.Models.KeyViewModels.KeysViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model.Keys)
        {
            <tr class="@(item.Key == Model.SelectedKey ? "apikey-selected" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Use", "Select", new { id = item.Key })
                </td>
            </tr>
        }
    </tbody>
</table>
