
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div id="rules">
    <div v-if="rule">
        <h2>{{rule.name}}</h2>
        <input v-model="rule.name" />

        <expression v-bind:exp="rule.expression" v-bind:rule="rule"></expression>

        <br />
        <h3>Actions</h3>
        <div v-for="action in rule.actions" v-if="action.isActive">
            <h4>
                {{action.type}}
                <button v-on:click="deleteAction(action)">x</button>
            </h4>
            <div class="row" v-for="prp in action.properties">
                <div class="col-lg-3">
                    <label class="property-name">{{getMetaDataProperty(action.type, prp.name).description}}</label>
                </div>
                <div class="col-lg-9">
                    @* Look at meta-data properties to figure out how to display this *@
                    <div v-if="getMetaDataProperty(action.type, prp.name).dataType == 'select'">
                        <select v-model="prp.value">
                            <option v-for="option in getMetaDataProperty(action.type, prp.name).options" v-bind:value="option.value">
                                {{ option.display }}
                            </option>
                        </select>
                    </div>
                    <div v-else>
                        <input v-model="prp.value" />
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div>
            <span v-for="action in rule.metaData.actionMetaData">
                <button v-on:click="addAction(action)">{{action.type}}</button>
            </span>
        </div>
    </div>

    <br/>
    <button v-on:click="save">Save</button>

    <hr />
    <div>
        {{id}}
        <pre v-if="rule">{{rule}}</pre>
    </div>

</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    @*<script src="https://cdn.jsdelivr.net/npm/vue"></script>*@

    <script src="~/js/rule-details.js"></script>
}
