@{
    ViewData["Title"] = "Rules";
}

<h2>Rules</h2>

<div id="rules">
    {{message}}

    <ul v-if="rules">
        <li v-for="rule in rules">
            {{ rule.id }} - {{rule.name}}
        </li>
    </ul>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    @*<script src="https://cdn.jsdelivr.net/npm/vue"></script>*@

    <script src="~/js/rules.js"></script>
}
