body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.search-criteria {
    background-color: azure;
    box-shadow: 0px 10px 10px lightgrey;
    padding: 20px 20px;
}

.evt-tag {
    background-color: lightskyblue;
    color: black;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: smaller;
    font-weight: bold;
}

label.property-name {
    text-align: right;
    font-weight: bold;
}


div.evt-detail-expression-container {
    margin-left: 20px;
    border-left-style: solid;
    border-left-width: medium;
    border-left-color: black;
    /*border-radius: 20px;*/
    background-color: lightcyan;
}

div.evt-detail-expression-highlight {
    background-color: lightgoldenrodyellow;
}

div.evt-detail-expression-child {
    margin-left: 20px;
}

button.evt-detail-expression-delete {
    float: right;
}

.evt-Debug {
    font-size: small;
    color: darkgrey;
}

.evt-Information {
    font-size: small;
    color: darkblue;
}

.evt-Error {
    font-size: small;
    color: red;
}
