@model Swampnet.Evl.Web.Models.HomeViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if(Model?.Results != null)
{
    <br/>
    @Html.Partial("SearchCriteria", Model.Criteria);
    @Html.Partial("SearchResults", Model);
}
else
{
    <div>TODO: Add api-key(s)</div>
}
